.tab1 {
    font-size: 14px;
    margin-left: 200px;
    width: 50%;
}
.profilebutton {
    margin-left: 1%;
    margin-top: 2%;
}
.profilebutton0 {
    margin-left: 1%;
    margin-top: 2%;
}
.centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
